#calendarId {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
  display: none; /* Hide by default (base) */

  @media screen and (min-width: 1024px) {
    display: block; /* Show on large screens (1024px and above) */
  }
}

.sticky-calendar {
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 1.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  display: flex;
  position: sticky;
  top: 15%;
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.2);
}
