* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  min-height: 100%;
  color: rgb(234, 229, 223);
  background-color: rgb(46, 42, 39);
  margin: 0;
  font-family: 'Kaftan';
  font-size: 14px;
  line-height: 20px;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  }

@font-face {
  font-family: "Kaftan";   /*Can be any text*/
  src: local("Kaftan"),
    url("./fonts/Kaftan Serif.woff") format("truetype");
}