/* Calendar wrapper styles */
.rdrCalendarWrapper {
  position: relative;
  width: 100% !important;
  border-radius: 5px;
}

/* Style individual day cells */
.rdrDay {
  border: none !important;
  border-radius: 5% !important;
  margin: 2px 0 !important;
  height: 69px !important;
}

.bookingCalendar .rdrDay {
  height: 55px !important;
}

.stickyCalendar .rdrDay {
  width: 42px !important;
  height: 42px !important;
}

.drawerCalendar .rdrDay {
  height: 3.438rem !important;
}

.rdrDayPassive {
  visibility: hidden;
}

.rdrDayDisabled {
  background-color: transparent !important;
}

.rdrDayDisabled .rdrDayNumber {
  text-decoration: line-through;
  color: #aeb9bf;
}

/* Day number styling */
.rdrDayNumber span {
  font-size: 14px !important; /* Adjust the font size as needed */
  line-height: 16px !important; /* Adjust the line height as needed */
}

/* Weekday styling */
.rdrWeekDay {
  font-size: 12px;
  width: 42px;
}

.rdrMonth {
  width: 100% !important;
}

/* Month name centering */
.rdrMonthName {
  text-align: center !important;
}

.rdrMonths {
  justify-content: center !important;
}

/* Hide month and year pickers */
.rdrMonthAndYearPickers {
  display: none !important;
}

/* Hide date display wrapper */
.rdrDateDisplayWrapper {
  display: none;
}

/* Next and previous button positioning */
.rdrNextPrevButton {
  position: absolute;
  top: 15px;
}

.rdrNextButton {
  right: 0;
}

/* Adjust month and year wrapper height */
.rdrMonthAndYearWrapper {
  height: auto !important;
}

/* Styling for hovered day */
.rdrDayHovered {
  background: white !important;
  border: 1px solid #547c39 !important;
  border-radius: 6.5% !important;
}

.rdrDayHovered span {
  background: none;
}

.rdrDayHovered .rdrDayNumber span {
  color: #547c39;
}

.rdrDayHovered .rdrStartEdge,
.rdrDayHovered .rdrEndEdge {
  color: white !important;
}

.rdrDayHovered .rdrDayStartPreview,
.rdrDayHovered .rdrDayEndPreview,
.rdrDayHovered .rdrDayStartPreview .rdrDayEndPreview {
  color: #547c39 !important;
}

.rdrDayHovered .rdrDayNumber,
.rdrDayHovered .rdrInRange {
  background: none !important;
}

.rdrDayHovered .rdrInRange ~ .rdrDayNumber span {
  color: #547c39 !important;
}

/* Styling for the range between selected dates */
.rdrInRange {
  background-color: rgb(247, 247, 247) !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  color: #547c39 !important;
}

.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span {
  color: #547c39 !important;
}

/* Styling for start and end edges of the range */
.rdrStartEdge,
.rdrEndEdge {
  background-color: #547c39 !important;
  border-radius: 5% !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
}

/* Styling for the preview (not sure what you want to achieve here since it's hidden) */
.rdrDayStartPreview .rdrDayEndPreview,
.rdrDayStartPreview,
.rdrDayEndPreview {
  border: none !important;
  display: none !important;
}

/* Styling for the day in preview */
.rdrDayInPreview {
  border: none !important;
  background-color: transparent !important;
}

.rdrDayInPreview + .rdrDayNumber {
  background-color: rgb(247, 247, 247) !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
}

.rdrDayInPreview + .rdrDayNumber span {
  color: #547c39 !important;
}

/* Styling for today's date */
.rdrDayToday .rdrDayNumber span:after {
  background: #547c39 !important;
}

/* Calendar Section */
.sectionCalendar .rdrDayNumber span,
.sectionCalendar .rdrMonthName,
.sectionCalendar .rdrWeekDay,
.bookingCalendar .rdrDayNumber span,
.bookingCalendar .rdrMonthName,
.bookingCalendar .rdrWeekDay {
  font-size: 1.1rem !important;
}

.sectionCalendar .rdrNextPrevButton,
.bookingCalendar .rdrNextPrevButton {
  width: 2.25rem;
  height: 2.25rem;
}

.sectionCalendar .rdrPprevButton i,
.bookingCalendar .rdrPprevButton i {
  transform: translate(-0.281rem, 0px);
  border-width: 0.375rem 0.563rem 0.375rem 0.375rem;
}

.sectionCalendar .rdrNextButton i,
.bookingCalendar .rdrNextButton i {
  transform: translate(0.5rem, 0px);
  border-width: 0.375rem 0.375rem 0.375rem 0.563rem;
}

.sectionCalendar.rdrCalendarWrapper {
  height: 57vh !important;
}

.stickyCalendarSection.rdrCalendarWrapper {
  height: 36vh !important;
}

.bookingCalendar.rdrCalendarWrapper {
  height: 49vh !important;
}
