.slick-track {
  display: flex;
  gap: 14px;
  padding: 0 5.5rem;
}

.slick-track > *:first-child {
  margin-left: -14px; /* Remove any extra margin/gap from the first child */
}

.bookingSlider .slick-track {
  padding: 0.5rem 0;
  overflow-y: visible;
}

@media screen and (max-width: 768px) {
  .slick-track {
    gap: 7px;
  }
  .slick-track > *:first-child {
    margin-left: -7px; /* Remove any extra margin/gap from the first child */
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .slick-track {
    padding: 0 2rem;
  }
}

.slick-arrow {
  display: none !important;
}
